* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 30%;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.sidebar-header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.sidebar-header p {
    font-size: 0.9em;
    margin-bottom: 20px;
    line-height: 1.4;
}

.sidebar-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.sidebar-form label {
    font-size: 16px;
    margin-top: 15px;
}

.sidebar-form input,
.sidebar-form select {
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

.sidebar-form input::placeholder {
    color: #4e4b4b;
}

.sidebar-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.sidebar-form button:hover {
    background-color: #16a085;
}

.sidebar-info {
    margin-top: 20px;
    font-size: 0.9em;
}

.sidebar-info h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}

.sidebar-info ul {
    list-style: none;
    padding-left: 0;
}

.sidebar-info ul li {
    margin-bottom: 8px;
}

.main-content {
    width: 70%;
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 2px;
    width: 600px;
    height: 600px;
    background-color: #ccc;
}

.cell {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid #000;
}

.cell.obstacle {
    background-color: transparent;
    background-image: url("../img/obs.jpeg");
    background-size: cover;
    background-position: center;
}

.cell.robot {
    background-color: transparent;
    background-image: url("../img/robodog.jpg");
    background-size: cover;
    background-position: center;
    transition: background-image 0.3s ease;
}

.path-container {
    margin-top: 20px;
    width: 600px;
}

.path-container label {
    font-size: 16px;
    font-weight: bold;
}

#caminho {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #f0f0f0;
    font-size: 14px;
    text-align: center;
}